<div style="width: 1420px; height: 650px;text-align: center; background-color: #1b1e21;" id="form">
    <img style="margin: 100px;" src="/assets/img/welcome-text.png" alt="oops.">
    <br>
    <img width=150 height=18 style="margin-bottom: 10px;" src="/assets/img/enter-name-text.png" alt="oops.">
    <br>
    <label>
        <input
                name="nameText"
                style="width: 150px; height: 30px; text-align: center; margin-bottom: 10px; border: 2px solid #4e555b; border-radius: 5px; background-color: #1b1e21; color: lightgray;"
                type="text"
        >
    </label>
    <br>
    <button
            name="submitBtn"
            style="width: 100px; height: 30px; border: 2px solid #4e555b; border-radius: 5px; background-color: #1b1e21; color: lightgray;">
        Submit
    </button>
    <img
            name="waitingText"
            style="display: none;"
            width=250 height=18
            src="/assets/img/waiting-text.png"
            alt="oops."
    >
</div>
